# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/@mf-types
/dist

# certs
/certs

# IDEs and editors
*.iml
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/

# OS specific
Thumbs.db
.DS_Store

# Logs
*.log